.max-width {
  max-width: 1100px;
  margin: 0px auto;
}
.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cur-po {
  cursor: pointer;
}
.collectin-title {
  font-size: 14px;
  color: #1c1c1c;
  margin-bottom: 32px;
  font-weight: 600;
}
