#root {
  ---primary-box-shadow: rgb(28 28 28/8%) 0px 2px 8px;
  ---border-white: rgb(232, 232, 232);
  ---primary-bg: rgb(255, 255, 255);
  ---zomato-grey: #828282;
  ---zomato-red: #ff7e8b;
  ---gray: rgb(207, 207, 207);
  ---inactive-text: #696969;
  /* ---inactive-text:green; */
  --collection-shodow: rgb(0 0 0 /8%) 0px 3px 12px;
  --tag-red: #d92662;
  --tag-blue: #256fef;
  --tag-gren: #267e3e;
  --colletion-bg: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.05) 85%
  );
}
